body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

#boton {
    margin-left: 35%;
    width: 30%;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

#contenedor1.muestracomments{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #b2b2b2;
    background-color: rgb(236, 240, 240);
    border-radius: 5px;
}